// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#search {
	h2 { margin-bottom: 0}

	p, label { display: inline-block; }

	p {
		font-weight: bold;
		font-size: 18px;
	}
}

.table {

	border-collapse: collapse;

	td {
		border: 1px solid black;
		padding: 5px;
	}
	
	thead {
		td { font-weight: bold; }
	}
}

#player-info { margin-top: 13px; }

#players, #add-player { 
	display: inline-block; 
	vertical-align: top;
}

#add-player {
	margin-left: 30px;
	
	h2 { margin-top: 0px; }
}